$points-v: 2;
$points-h: 5;

$textShadow: 0px 6px 5px
  rgba(
    $color: #c0c0c0,
    $alpha: 0.4,
  );

$input-background: rgba(
  $color: #000000,
  $alpha: 0.5,
);

$input-shadow: 0 0 10px
  rgba(
    $color: #ffffff,
    $alpha: 0.5,
  );

.topic-shell {
  min-height: 95vh;
  max-height: auto;
  width: 100vw;
  background-image: url("free-vector-geometric-seamless-pattern.webp");

  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  grid-template-rows: repeat(7, 1fr);

  .topic-head {
    width: fit-content;
    height: fit-content;
    background-color: rgba($color: #000000, $alpha: 0.2);
    grid-row: 3 / span 3;
    grid-column: 2;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px;

    .topic-title,
    .topic-owner,
    .topic-description,
    .topic-count {
      height: fit-content;
      min-width: min-content;
      max-width: 55ch;
      text-align: center;
      font-family: "quicksand";
      color: white;
      border-radius: 5px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      box-shadow: 0 0px 10px 3px rgba($color: #ffffff, $alpha: 0.5);
      justify-self: center;
      margin: 0.5em 0 0.5em 0;
      opacity: 0;
      animation: regularFade 0.5s forwards;
    }

    .topic-title {
      font-size: 2em;
      padding: 5px;
    }

    .topic-count,
    .topic-owner {
      font-size: 1.5em;
      padding: 5px;
    }

    .topic-owner {
      transition: background-color 0.3s;
    }

    .topic-owner:hover {
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 1);
    }

    .topic-description {
      font-size: 1.5em;
      padding: 5px 0 5px 0;
    }
  }

  .options-shell {
    width: fit-content;
    height: fit-content;
    justify-self: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;

    .add-point,
    .topic-edit,
    .topic-delete {
      color: white;
      width: 50px;
      height: 50px;
      margin: 5px;
      transition: color 0.3s;
      opacity: 0;
      animation: regularFade 0.5s forwards;
    }

    .add-point:hover,
    .topic-edit:hover,
    .topic-delete:hover {
      color: #9b9b9b;
    }

    .add-point:active,
    .topic-edit:active,
    .topic-delete:active {
      text-shadow: 0 0 10px rgba($color: #9cfff2, $alpha: 1);
    }

    @keyframes regularFade {
      100% {
        opacity: 1;
      }
    }
  }

  .pro-shell,
  .con-shell {
    min-width: 10vw;
    width: 100%;
    height: 95vh;
    grid-row: 1 / span 7;
    display: grid;
    gap: 0.3em;
    background-color: rgba($color: #000000, $alpha: 0.8);
    box-sizing: border-box;
  }

  .pro-shell {
    grid-column: 1;
    border-right: 7px solid rgba($color: #311aff, $alpha: 1);
    border-left: 7px solid rgba($color: #311aff, $alpha: 1);
    box-sizing: border-box;
    .pro {
      width: fit-content;
      height: fit-content;
      color: white;
      font-weight: bold;
      font-size: 1.5em;
      padding: 10px;
    }
  }

  .con-shell {
    grid-column: 3;
    border-left: 7px solid rgba($color: #ff1a1a, $alpha: 1);
    border-right: 7px solid rgba($color: #ff1a1a, $alpha: 1);
    .con {
      color: white;
      font-weight: bold;
      font-size: 1.5em;
      padding: 10px;
    }
  }

  .pro-container,
  .con-container {
    width: 100%;
    overflow-y: scroll;
    display: grid;
    border-top: 0.1em solid rgba($color: #ffffff, $alpha: 0.5);
    background-color: rgba($color: #464646, $alpha: 0.3);
  }

  .pro-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-image: linear-gradient(0deg, red 0%, blue 50%, red 100%);
  }

  .con-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-image: linear-gradient(0deg, blue 0%, red 50%, blue 100%);
  }

  .pro-container::-webkit-scrollbar-thumb,
  .con-container::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
  }

  .point {
    font-family: "quicksand";
    width: 60ch;
    justify-self: center;
    padding: 1em;
    margin: 0.5em;
    background-color: rgba($color: #ffffff, $alpha: 0);
    // box-shadow: 0px 5px 10px 3px rgba($color: #b3b3b3, $alpha: 0.8);
    border-radius: 10px;
    transition: background-color 0.3s;

    .point-title {
      font-weight: bold;
      background-color: rgba($color: #000000, $alpha: 0);
      transition: background-color 0.3s;

      a {
        font-size: 2em;
        text-decoration: none;
        text-shadow: $textShadow;
        color: rgb(255, 255, 255);
      }
    }

    .point-user {
      font-size: 1.5em;
      background-color: rgba($color: #000000, $alpha: 0);
      a {
        text-decoration: none;
        text-shadow: $textShadow;
        color: rgb(255, 255, 255);
      }
    }

    .point-title:hover,
    .point-user:hover {
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 1);
    }

    .point-count,
    .point-date {
      color: rgb(255, 255, 255);
      text-shadow: $textShadow;
      font-size: 1.5em;
    }
  }

  .point:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.4);
  }

  $defSeconds: 0.1s;
  @for $item from 0 through 100 {
    .pro-#{$item},
    .con-#{$item} {
      $weight: $defSeconds * ($item + 1);
      opacity: 0;
      transform: scale(0.5);
      animation: pointFade $weight forwards;
    }
  }

  @keyframes pointFade {
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .point-form {
    grid-template-rows: 60px 40px 400px 70px;
  }

  .topic-form {
    grid-template-rows: auto;
    grid-auto-flow: column;
  }

  .point-form,
  .topic-form {
    z-index: 10;
    min-height: 580px;
    max-height: 700px;
    width: 100%;
    grid-row: 2 / span 8;
    grid-column: 2;
    align-self: start;
    margin-top: 10px;
    background-color: rgba($color: black, $alpha: 0.6);
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    transform: scaleY(0.2);
    opacity: 0;

    .point-form-title,
    .point-form-position,
    .point-form-format,
    .see-desc,
    .point-form-argument,
    .point-field-counts,
    .point-form-title::placeholder,
    .point-form-argument::placeholder {
      font-family: "quicksand";
      color: white;
      font-size: 1.2em;
      font-weight: bold;
    }

    $input-background: rgba(
      $color: #000000,
      $alpha: 0.5,
    );

    $input-shadow: 0 0 10px
      rgba(
        $color: #ffffff,
        $alpha: 0.5,
      );

    .point-form-title,
    .point-form-argument,
    .point-submit,
    .see-desc {
      background-color: $input-background;
    }

    .point-form-title {
      height: fit-content;
      grid-row: 1;
      grid-column: 1 / span 3;
      resize: none;
      padding: 10px 0 0 10px;
      align-self: center;
    }

    .point-form-position,
    .point-form-format {
      grid-row: 2;
      justify-self: center;
      width: fit-content;
      height: min-content;
      display: grid;
    }

    .see-desc {
      grid-row: 2;
      width: fit-content;
      height: fit-content;
      justify-self: center;
      align-self: center;
    }

    .point-form-argument {
      grid-row: 3;
      grid-column: 1 / span 3;
      resize: none;
      padding: 10px 0 0 10px;
    }

    .point-submit {
      margin-top: 10px;
      height: 40px;
      width: 200px;
      font-family: "quicksand";
      color: white;
      font-size: 1.7em;
      font-weight: bold;
      border-radius: 5px;
      grid-row: 4;
      grid-column: 1 / span 2;
      justify-self: center;
      align-self: center;
    }

    .point-field-counts {
      height: fit-content;
      width: fit-content;
      grid-row: 4;
      grid-column: 3;
      display: flex;
      flex-direction: column;
      padding: 5px;
      align-self: center;
    }
  }
  .preview-shell {
    z-index: 15;
    height: 580px;
    width: 600px;
    background-color: white;
    grid-row: 1 / span 8;
    grid-column: 1 / span 3;
    justify-self: center;
    display: none;
    flex-direction: column;
  }

  .close-preview {
    width: 30px;
    height: 30px;
    margin: 10px 0 0 10px;
    color: rgba($color: #383838, $alpha: 1);
    transition: color 0.3s;
  }

  .close-preview:hover {
    color: #9b9b9b;
  }

  .close-preview:active {
    text-shadow: 0 0 10px rgba($color: #9cfff2, $alpha: 1);
  }

  .point-preview {
    overflow-y: scroll;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.7);
    h1 {
      font-size: 4em;
      border-bottom: 2px solid rgb(150, 150, 150);
      margin-bottom: 20px;
      font-weight: bolder;
      text-shadow: 0px 5px 0px rgba($color: #5a5a5a, $alpha: 0.7);
    }

    h2 {
      font-size: 3.5em;
      border-bottom: 1px solid rgb(150, 150, 150);
      margin-bottom: 15px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 0px 5px 0px rgba($color: #5a5a5a, $alpha: 0.7);
    }

    h3 {
      font-size: 3em;
      border-bottom: 1px solid rgb(150, 150, 150);
      margin-bottom: 15px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 0px 5px 0px rgba($color: #5a5a5a, $alpha: 0.7);
    }

    h4 {
      font-size: 2.5em;
      margin-bottom: 10px;
      font-weight: bold;
      font-style: italic;
      text-shadow: 0px 5px 0px rgba($color: #5a5a5a, $alpha: 0.7);
    }

    strong,
    code,
    em {
      font-size: 1.2em;
    }

    p {
      font-size: 1.5em;
      margin: 20px 0 20px 0;

      a {
        text-decoration: none;
        color: lime;
        font-style: italic;
        transition: color 0.5s;
      }

      a:hover {
        color: rgb(0, 255, 179);
      }
    }

    ul {
      margin-left: 10px;
      li {
        list-style-type: square;
        font-size: 16px;
      }
    }

    strong {
      font-weight: bold;
    }

    code {
      font-family: "input";
      border: 1px solid rgba($color: #ffffff, $alpha: 0.8);
      border-radius: 7px;
      box-shadow: 0 0 5px 0px rgba($color: #ffffff, $alpha: 1);
      background-color: #a5a5a5;
      color: black;
      padding: 2px;
    }

    em {
      font-style: italic;
    }
  }

  .return-form,
  .close-form {
    width: 100px;
    height: 50px;
    margin-top: 30px;
    display: none;
    font-family: "quicksand";
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    background-color: $input-background;
    justify-content: center;
    padding-top: 13px;
  }

  .formContent {
    animation: formContent 0.6s forwards;
  }

  @keyframes formContent {
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  .topic-form-title,
  .topic-form-description,
  .topic-submit,
  .close-edit-form,
  .topic-form-title::placeholder,
  .topic-form-description::placeholder {
    font-family: "quicksand";
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    // border: none;
    background-color: $input-background;
    // box-shadow: $input-shadow;
    border-radius: 5px;
  }

  .topic-form-position-pro,
  .topic-form-position-con,
  .topic-form-position-pro::placeholder,
  .topic-form-position-con::placeholder {
    font-family: "quicksand";
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: $input-background;
    box-shadow: $input-shadow;
    border-radius: 5px;
  }

  .topic-form-title,
  .topic-form-description {
    grid-column: 1 / span 3;
    resize: none;
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
  }

  .topic-form-title {
    align-self: center;
    height: fit-content;
    grid-row: 1;
  }

  .topic-form-description {
    height: 250px;
    grid-row: 2 / span 3;
  }

  .topic-form-category,
  .tags-field-shell {
    margin-bottom: 20px;
  }

  .topic-form-category {
    min-width: fit-content;
    height: fit-content;
    grid-row: 5;
    grid-column: 1 / span 2;
    justify-self: start;
    align-self: start;
    margin-left: 20px;

    .select-category {
      width: 200px;
      min-width: 100px;
      font-family: "quicksand";
      color: white;
      font-size: 1.4em;
      border: none;
      border-radius: 5px;
      background-color: $input-background;
      padding-left: 5px;
    }

    .category-label {
      font-family: "quicksand";
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .tags-field-shell {
    width: fit-content;
    height: fit-content;
    grid-column: 2 / span 2;
    justify-self: end;
    align-self: start;
    padding: 10px;
    margin-right: 20px;
    grid-row: 5;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 5px;
  }

  .tags-input {
    width: 200px;
    height: 30px;
    color: white;
    font-size: 1.3em;
    font-family: "quicksand";
    background-color: rgba($color: #000000, $alpha: 0.3);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    margin: 5px 3px 5px 3px;
  }

  .tags-input::placeholder {
    color: white;
    font-family: "quicksand";
  }

  .tagSpace,
  .tag-search-result {
    width: fit-content;
    height: fit-content;
    display: flex;
  }

  .tagSpace {
    flex-direction: row;
  }

  .tag-search-result {
    flex-direction: column;
  }

  .newTag,
  .search-result {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 3px;
    margin: 3px;
    height: fit-content;
    font-family: "quicksand";
    font-size: 1.5em;
    font-weight: bolder;
  }

  .newTag {
    width: fit-content;
    border-radius: 5px;
  }

  .search-result {
    width: 200px;
    border: 5px outset rgba($color: #2b2b2b, $alpha: 0.7);
    border-radius: 5px;
  }

  .delete-tag {
    height: 13px;
    width: 13px;
    margin-left: 3px;
    align-self: center;
  }

  .topic-submit {
    height: 80px;
    background-color: $input-background;
    box-shadow: $input-shadow;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    grid-row: 7;
    grid-column: 1 / span 2;
    align-self: start;
    font-size: 2em;
  }

  .topic-form-position-pro,
  .topic-form-position-con {
    width: 150px;
    height: fit-content;
    padding: 5px 0 5px 10px;
    grid-row: 6;
    align-self: start;
    justify-self: center;
  }

  .topic-form-position-pro {
    grid-column: 1 / span 2;
    // justify-self: start;
    margin-right: 5px;
    border: 2px solid rgba($color: #311aff, $alpha: 1);
  }

  .topic-form-position-con {
    grid-column: 2 / span 3;
    // justify-self: end;
    margin-left: 5px;
    border: 2px solid rgba($color: #ff1a1a, $alpha: 1);
  }

  .topic-submit,
  .close-edit-form {
    height: 30px;
    width: 100px;
    min-width: min-content;
    margin-bottom: 10px;
    grid-row: 7;
    align-self: center;
    font-size: 2em;
  }
  .topic-submit {
    justify-self: end;
    grid-column: 2;
  }
  .close-edit-form {
    justify-self: center;
    grid-column: 3;
  }

  .delete-warning {
    z-index: 10;
    height: fit-content;
    width: 100%;
    background-color: rgba($color: black, $alpha: 0.8);
    grid-row: 3 / span 3;
    grid-column: 2;
    display: none;
    grid-template-rows: repeat(2, min-content);
    opacity: 0;
    transform: scaleY(0.3);

    p,
    .delete-topic,
    .cancel-delete {
      font-family: "quicksand";
      font-size: 1.5em;
      font-weight: bold;
      color: white;
      margin: 15px;
      justify-self: center;
    }

    p {
      grid-row: 1;
    }

    .delete-topic,
    .cancel-delete {
      grid-row: 2;
      background-color: $input-background;
      border-radius: 5px;
      border: 1px solid rgba($color: #e6e6e6, $alpha: 0.3);
      box-shadow: 0 8px 0 0 rgba($color: #353535, $alpha: 0.8);
      height: 50px;
      width: 150px;
    }

    .delete-topic:active,
    .cancel-delete:active {
      transform: translateY(8px);
    }
  }

  .formContent {
    animation: formContent 0.6s forwards;
  }

  @keyframes formContent {
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
