@font-face {
  font-family: "nazalization";
  src: url("/app/assets/fonts/nasalization-rg.ttf");
}

@font-face {
  font-family: "quicksand";
  src: url("/app/assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "input";
  src: url("/app/assets/fonts/InputSerif-Thin.ttf");
}
