@font-face {
  font-family: "nazalization";
  src: font-url("nasalization-rg.ttf");
}

@font-face {
  font-family: "quicksand";
  src: font-url("Quicksand-Regular.ttf");
}

@font-face {
  font-family: "input";
  src: font-url("InputSerif-Thin.ttf");
}
